.signin_body
{
	/*background-image: url( "../images/signin_image.jpg" );*/
	background-image: linear-gradient( to right, rgb(255, 0, 255) , rgb(64, 0, 255) );
}

.signup_body
{
	/*background-image: url( "../images/signup_image.jpg" );*/
	background-image: linear-gradient( to right, rgb(255, 0, 255) , rgb(64, 0, 255) );
}

.sign_button
{
	background-image: linear-gradient( to right, rgb(255, 0, 255) , rgb(64, 0, 255) );
}

::placeholder
{
	color: red;
	opacity: 1;
}