.input
{
	margin-left: 2%;
	margin-top: 2%;
}

.pixel
{
	width: 30px;
	height: 30px;
}

.animation
{
	/*border-left: 1px solid #dddddd;*/
	border-left: 1px solid black;
	margin: 1%;
}

hr
{
	/*background-color: black;*/
}

.strip
{
	margin: 1%;
	height: 50%;
	border-bottom: 1px solid black;
}